.class-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
}

.class-info button {
  padding: 10px 15px;
  background-color: var(--text-primary);
  border: none;
  border-radius: 5px;
  color: var(--color-brand-gray);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.class-info button:hover {
  background-color: var(--text-success);
}
